In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import csv

In [5]:
with open("Downloads\PlayTennis.csv", 'r') as file:
    csvreader = csv.reader(file)
    l = []
    s = []
    for row in csvreader:
        l = row
        s.append(l)
        
i = 0
s[i]

['Outlook', 'Temperature', 'Humidity', 'Wind', 'Play Tennis']

In [6]:
df = pd.DataFrame(s, columns = ['Outlook', 'Temperature', 'Humidity', 'Wind', 'Play Tennis'])

In [7]:
df1 = pd.DataFrame()
df1 = df.iloc[1:]
df1

     Outlook Temperature Humidity    Wind Play Tennis
1      Sunny         Hot     High    Weak          No
2      Sunny         Hot     High  Strong          No
3   Overcast         Hot     High    Weak         Yes
4       Rain        Mild     High    Weak         Yes
5       Rain        Cool   Normal    Weak         Yes
6       Rain        Cool   Normal  Strong          No
7   Overcast        Cool   Normal  Strong         Yes
8      Sunny        Mild     High    Weak          No
9      Sunny        Cool   Normal    Weak         Yes
10      Rain        Mild   Normal    Weak         Yes
11     Sunny        Mild   Normal  Strong         Yes
12  Overcast        Mild     High  Strong         Yes
13  Overcast         Hot   Normal    Weak         Yes
14      Rain        Mild     High  Strong          No

In [8]:
n = 0
y = 0
for i in df['Play Tennis']:
    if(i=='No'):
        n = n+1
    elif(i=='Yes'):
        y = y+1
print(n)
print(y)

5
9

In [9]:
no_p = n/14
yes_p = y/14
print(no_p)
print(yes_p)

0.35714285714285715
0.6428571428571429

In [10]:
for i in

SyntaxError: invalid syntax (3996493703.py, line 1)

In [11]:
sunny_no =0
sunny_yes = 0
overcast_no = 0
overcast_yes = 0
rain_no = 0
rain_yes = 0
hot_no = 0
hot_yes = 0
mild_no = 0
mild_yes = 0
cold_no = 0
cold_yes = 0
high_no = 0
high_yes = 0
normal_no = 0
normal_yes = 0
weak_no = 0
weak_yes = 0

dic = {
    "outlook": ["Sunny", "Rain", "Overcast"],
    "Temperature": ["Hot", "Mild", "Cold"],
    "Humidity": ["High", "Normal"],
    "Wind": ["Weak", "Strong"]
}

In [12]:
column_names = df1.columns.tolist()
outlook = df1["Outlook"].unique()
Temperature = df1["Temperature"].unique()
Humidity = df1["Humidity"].unique()
Wind = df1["Wind"].unique()

In [83]:
def outlook_yesno(dataframe, k, i):
    yes = len(dataframe[(dataframe[k] == i) & (dataframe['Play Tennis'] == 'Yes')])
    prob_yes = yes / y
    no = len(dataframe[(dataframe[k] == i) & (dataframe['Play Tennis'] == 'No')])
    prob_no = no / n
    
    return prob_yes, prob_no

prob = []
for i in df1.columns:
    distinct_values = df1[i].unique()
    for j in distinct_values:
        prob_yes, prob_no = outlook_yesno(df,i,j)
        prob.append((i, j, prob_yes, prob_no))

# Print the list of probabilities
for item in prob:
    print(f"Column: {item[0]}, Value: {item[1]}, Prob_Yes: {item[2]}, Prob_No: {item[3]}")

Column: Outlook, Value: Sunny, Prob_Yes: 0.2222222222222222, Prob_No: 0.6
Column: Outlook, Value: Overcast, Prob_Yes: 0.4444444444444444, Prob_No: 0.0
Column: Outlook, Value: Rain, Prob_Yes: 0.3333333333333333, Prob_No: 0.4
Column: Temperature, Value: Hot, Prob_Yes: 0.2222222222222222, Prob_No: 0.4
Column: Temperature, Value: Mild, Prob_Yes: 0.4444444444444444, Prob_No: 0.4
Column: Temperature, Value: Cool, Prob_Yes: 0.3333333333333333, Prob_No: 0.2
Column: Humidity, Value: High, Prob_Yes: 0.3333333333333333, Prob_No: 0.8
Column: Humidity, Value: Normal, Prob_Yes: 0.6666666666666666, Prob_No: 0.2
Column: Wind, Value: Weak, Prob_Yes: 0.6666666666666666, Prob_No: 0.4
Column: Wind, Value: Strong, Prob_Yes: 0.3333333333333333, Prob_No: 0.6
Column: Play Tennis, Value: No, Prob_Yes: 0.0, Prob_No: 1.0
Column: Play Tennis, Value: Yes, Prob_Yes: 1.0, Prob_No: 0.0

In [61]:
df2 = pd.DataFrame(prob, columns = ["ok","conditions", "yes", "no"])

In [62]:
df2 = df2.drop(df2.columns[0], axis=1)

In [63]:
df2 = df2.drop(df2.index[-2:], axis=0, )

In [64]:
df2

  conditions       yes   no
0      Sunny  0.222222  0.6
1   Overcast  0.444444  0.0
2       Rain  0.333333  0.4
3        Hot  0.222222  0.4
4       Mild  0.444444  0.4
5       Cool  0.333333  0.2
6       High  0.333333  0.8
7     Normal  0.666667  0.2
8       Weak  0.666667  0.4
9     Strong  0.333333  0.6

In [65]:
df3 = df1.drop('Play Tennis',axis=1)
l = df3.iloc[0]

In [76]:
l

Outlook        Sunny
Temperature      Hot
Humidity        High
Wind            Weak
Name: 1, dtype: object

In [78]:
prob_yes = []
prob_no = []

for i in l:
    for index, row in df2.iterrows():
        if row["conditions"] == i:
            prob_yes.append(row["yes"])
            prob_no.append(row["no"])
            break
prob_yes.append(y)
prob_no.append(n)
print(prob_yes)
print(prob_no)

[0.2222222222222222, 0.2222222222222222, 0.3333333333333333, 0.6666666666666666, 9]
[0.6, 0.4, 0.8, 0.4, 5]

In [44]:
p(sunny|yes) * p(hot|yes) * p(high|yes) * p(weak|yes) * p(yes) =  0.645 (yes)
p(sunny|no) * p(hot|no) * p(high|no) * p(weak|no) * p(no) =  0.459 (no)

SyntaxError: cannot assign to operator (2330173503.py, line 1)

In [81]:
result = 0
result1 = 0
for i in prob_yes:
    result *= i
for i in prob_no:
    result1 *= i    
if(result > result1):
    print("Yes at ", l)
else:
    print("No at ", l)

No at  Outlook        Sunny
Temperature      Hot
Humidity        High
Wind            Weak
Name: 1, dtype: object